body{
    background-color: rgb(100, 100, 100);
}
.sidebar{
    position: fixed;
    background-color: hsl(0, 0%, 15%);
    width: 300px;
    height: 100vh;
    top: 0;
    right: 0;
    display: none;
}
.open .sidebar{
    display: block;
}